<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input id="firstNameId" type="text" class="form-control" name="firstNameEdit" value="@ViewBag.Name" required />
                        </div>
                    </div>
                </div> <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Apellido</label> <input id="lastNameId" type="text" class="form-control" name="lastNameEdit" value="@ViewBag.LastName" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Sexo</label>
                            @Html.DropDownList("genderId", (List<SelectListItem>)ViewBag.Gender, new { @class="form-control" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Edad</label>
                            <input type="number" id="ageId" class="form-control" name="ageEdit" value="@ViewBag.Age" required>
                        </div>
                    </div>
                </div> <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Teléfono</label> <input type="number" id="phoneId" class="form-control" name="phoneNumberEdit" value="@ViewBag.Phone" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
   // document.getElementById("firstNameId").value ="44";
   
</script>